.user-btn{
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
  text-align: center;
  letter-spacing: 1.3px;
  transition: 0.7s;
  &-gray{
    background-color: #a8a8a8;
    color: white;
  }
  &-danger{
    background-color: red;
    color: white;
  }
  &-thirdary{
    background-color: #bd9154;
    color: white;
  }
  &-primary{
    background-color: $primary;
    color: white;
  }
}

.btn-group{
  display: flex;
  align-items: center;
}