
@keyframes rotate{
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}
@keyframes rotate2{
  from{
      transform: rotate(45deg);
  }
  to{
      transform: rotate(405deg);
  }
}

.loading{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 100;
  background: rgba(0,0,0,0.3);
  &-item{
      width: 40px;
      height: 40px;
      position: relative;
      border-radius: 50%;
      margin: 0 auto;
      box-shadow: 0px 0px 0px 10px $primary, 0px 0px 0px 20px #ccc, 0px 0px 0px 30px $primary;
      &:before{    
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          border-radius:2px;
          position: absolute;
          background: transparent;
          box-shadow: -39px 15px 0 $primary,
                      69px 15px 0 $primary,
                      15px -39px 0 $primary,
                      15px 69px 0 $primary;
          transform-origin: 20px 20px;
          animation: rotate 10s linear infinite;
      }
      &:after{
          content: '';
          position: absolute;
          display: block;
          width: 10px;
          height: 10px;
          border-radius:2px;
          background: transparent;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          transform: rotate(45deg);
          box-shadow: -53px 0 0 $primary,
                      53px 0 0 $primary,
                      0 53px 0 $primary,
                      0 -53px 0 $primary;
                      
          transform-origin: 5px 5px;
          animation: rotate2 10s linear infinite;
      }
  }
}

@keyframes ldio-wiw3itsk6ko-1 {
  0% { top: 36px; height: 128px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
  }
  @keyframes ldio-wiw3itsk6ko-2 {
    0% { top: 41.99999999999999px; height: 116.00000000000001px }
    50% { top: 60px; height: 80px }
    100% { top: 60px; height: 80px }
  }
  @keyframes ldio-wiw3itsk6ko-3 {
    0% { top: 48px; height: 104px }
    50% { top: 60px; height: 80px }
    100% { top: 60px; height: 80px }
  }
  .ldio-wiw3itsk6ko div { position: absolute; width: 30px }.ldio-wiw3itsk6ko div:nth-child(1) {
    left: 35px;
    background: #e15b64;
    animation: ldio-wiw3itsk6ko-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.2s
  }
  .ldio-wiw3itsk6ko div:nth-child(2) {
    left: 85px;
    background: #f8b26a;
    animation: ldio-wiw3itsk6ko-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.1s
  }
  .ldio-wiw3itsk6ko div:nth-child(3) {
    left: 135px;
    background: #abbd81;
    animation: ldio-wiw3itsk6ko-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: undefineds
  }

  .loadingio-spinner-pulse-glqepjl9sp {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
  }
  .ldio-wiw3itsk6ko {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-wiw3itsk6ko div { box-sizing: content-box; }