body{
  line-height: 1.5;
}
a, p, h1, h2, h3, h4, h5{
  color: #555555;
}
a{
  text-decoration: none;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  @include pad{
    max-width: 767px;
  }
  @include pad{
    max-width: 578px;
  }
}
input, select, textarea{
  border: 1px solid #ccc;
  border-radius: none;
  &:focus{
    outline: none;
  }
}