@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body{
  line-height: 1.5;
  font-family: 'Noto Sans TC', sans-serif;
}
a, p, h1, h2, h3, h4, h5{
  color: #555555;
}
a{
  text-decoration: none;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  @include pad{
    max-width: 996px;
  }
  @include pad{
    max-width: 768px;
  }
}
input, select, textarea{
  border: 1px solid #ccc;
  border-radius: none;
  font-size: initial;
  &:focus{
    outline: none;
  }
}